# Optional Server Configuration
# Comma-separated list of allowed CORS origins (default: http://localhost:5173)
CLIENT_URL=http://localhost:5173

# Server Port (default: 3000)
PORT=3000

# Node environment (development | production)
NODE_ENV=development

